/* Colors
 * Dark Blue: #495a99
 * Light Blue: #b2c9de
 * Off White: #f2f2ea
 * Dark Green: #a2ba36
 * Light Green: #d8e872
 * Pale yellow: #e2e66c
 */
* {
    margin: 0;
}
html,
body {
    height: 100%;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
}
body {
    color: #495a99;
    background-color: #f2f2ea;
}
a.well,
a.well:hover {
    text-decoration: none;
    display: block;
    color: #495a99;
}
a.well:hover {
    background-color: #a2ba36;
}
#footer {
    border-top: 1px solid #d8e872;
    background-color: #a2ba36;
    color: #495a99;
    padding: 0 15px;
}
#footer .copyright {
    font-weight: bold;
}
#footer,
#push {
    height: 100px;
}
#navbar .navbar-inner {
    background-color: #495a99;
    background-image: none;
    color: #b2c9de;
}
#navbar a {
    color: #b2c9de;
    text-shadow: none;
}
#navbar a:hover {
    background-color: #b2c9de;
    color: #495a99;
}
.brand .icon-bolt {
    padding: 0 5px;
    font-size: 1.3em;
    position: relative;
    top: 2px;
    color: #e2e66c;
}
#footer p {
    margin-top: 15px;
}
.well {
    background-color: #b2c9de;
}
.hero-unit {
    text-align: center;
}
.form-actions {
    background-color: #f2f2ea;
    border: 0 none;
}
.well li a {
    background-color: #495a99;
    color: #b2c9de;
}
.well li a:hover {
    color: #495a99;
}
.milestones .well,
.goals .well,
#about.well {
    background-color: #d8e872;
}
.milestones .well a,
.goals .well a {
    color: #495a99;
}
#quote {
    text-align: center;
}

