{% extends "base.html" %}

{% block content %}
<div class="row-fluid">
  <div class="span12 well">
    <h2>About</h2>
  </div>
</div>
<div class="row-fluid">
  <div id="about" class="span12 well">
    <p>First thought of during a mobile application development competition, Goal Charge is a new and improved way to track your goals. After you create a username, you will be able to begin tracking. People all over the world can sign up. Users are allowed to comment on your goals, praise you for your achievements, and help you evolve your goals. You can also set milestones during your tracking period. You can set as many goals as you'd like to. Happy Tracking!</p>
  </div>
</div>
{% endblock %}
