<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>GoalCharge</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.8.2.min.js') }}"></script>
  </head>

  <body>
    <div id="wrap">
      <div id="navbar" class="navbar">
        <div class="navbar-inner">
          <a href="/" class="brand">GoalCharge</a>
          <ul class="nav">
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/explore">Explore</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div>
      </div>

      <div id="container" class="container-fluid">
        <div class="row-fluid">
          {#<div class="span-2">
            asdf
          </div>#}
          <div class="span10">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>

      <div id="footer">
        <p>&copy; 2012 GoalCharge</p>
      </div>
    </div>
  </body>
</html>
