<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>GoalCharge</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.8.2.min.js') }}"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36760210-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
    <div id="wrap">
      <div id="navbar" class="navbar">
        <div class="navbar-inner">
          <a href="/" class="brand">Goal<i class="icon-bolt"></i>Charge</a>
          <ul class="nav">
            {% if current_user.is_authenticated() %}
              <li><a href="/goal/new">New Goal <i class="icon-plus-sign"></i></a></li>
            {% endif %}
            {# <li><a href="/explore">Explore</a></li> #}
            <li><a href="/about">About <i class="icon-info-sign"></i></a></li>
           </ul>
           <ul class="nav pull-right">
             {% if current_user.is_authenticated() %}
               <li><a href="/user/{{ current_user.get_id() }}">Profile <i class="icon-user"></i></a></li>
               <li><a href="/logout">Logout <i class="icon-signout"></i></a></li>
             {% else %}
               <li><a href="/register">Register</a></li>
               <li><a href="/login">Login <i class="icon-signin"></i></a></li>
             {% endif %}
           </ul>
        </div>
      </div>

      <div id="container" class="container-fluid">
        <div class="row-fluid">
          <div class="span12">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
      <div id="push"></div>
    </div>
    <div id="footer">
      <p class="copyright">&copy; 2012 GoalCharge</p>
      <p id="quote"></p>
    </div>
    <script type="text/javascript">
      function generateQuote()
      {
        var quotes = new Array(
        "If you're going through hell, keep going. - Winston Churchill",
        "Always continue the climb. It is possible for you to do whatever you choose, if you first get to know who you are and are willing to work with a power that is greater than ourselves to do it. - Ella Wheeler Wilcox",
        "The will to win, the desire to succeed, the urge to reach your full potential... these are the keys that will unlock the door to personal excellence. - Confucius",
        "Even if you fall on your face, you're still moving forward. - Victor Kiam",
        "Optimism is the faith that leads to achievement. Nothing can be done without hope and confidence. - Helen Keller",
        "Learn from the past, set vivid, detailed goals for the future, and live in the only moment of time over which you have any control: now. - Denis Waitley",
        "If you want to succeed you should strike out on new paths, rather than travel the worn paths of accepted success. - John D. Rockefeller",
        "Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time. - Thomas A. Edison",
        "The harder the conflict, the more glorious the triumph. - Thomas Paine",
        "Setting goals is the first step in turning the invisible into the visible. - Tony Robbins"
        );

        var index = Math.floor(Math.random() * quotes.length);

        return quotes[index];
      }
      $('#quote').text(generateQuote());
    </script>
  </body>
</html>
