<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>GoalCharge</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.8.2.min.js') }}"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36760210-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
    <div id="wrap">
      <div id="navbar" class="navbar">
        <div class="navbar-inner">
          <a href="/" class="brand">Goal<i class="icon-bolt"></i>Charge</a>
          <ul class="nav">
            {% if current_user.is_authenticated() %}
              <li><a href="/goal/new">New Goal</a></li>
            {% endif %}
            <li><a href="/explore">Explore</a></li>
            <li><a href="/about">About</a></li>
           </ul>
           <ul class="nav pull-right">
             {% if current_user.is_authenticated() %}
               <li><a href="/user/{{ current_user.get_id() }}">Profile</a></li>
               <li><a href="/logout">Logout</a></li>
             {% else %}
               <li><a href="/login">Login</a></li>
               <li><a href="/register">Register</a></li>
             {% endif %}
           </ul>
        </div>
      </div>

      <div id="container" class="container-fluid">
        <div class="row-fluid">
          <div class="span12">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
      <div id="push"></div>
    </div>
    <div id="footer">
      <p class="copyright">&copy; 2012 GoalCharge</p>
    </div>
  </body>
</html>
