{% extends "base.html" %}

{% block content %}
  <h1>Register</h1>
  {% if register_status == "form" %}
    <p>Register form here.</p>
    {% from "_formhelpers.html" import render_field %}
    <form action="/register" method="post">
      <dl>
        {{ render_field(form.username) }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ render_field(form.password_confirm) }}
      </dl>
      <input type="submit" value="Register" />
    </form>
  {% elif register_status == "success" %}
    <p>Register successful.</p>
  {% elif register_status == "fail" %}
    <p>Register unsuccessful.</p>
  {% endif %}
{% endblock %}
