{% extends "base.html" %}

{% block content %}
  <div class="row-fluid">
    <div class="span12 well">
      <h2>{{ goal.title }}</h2>
      <p><strong>Status: </strong>
        <script type="text/javascript">
          $(".status-label").tooltip();
        </script>
        {% if goal.status == "completed" %}
          <span id="success-label" class="status-label label label-success" title="{{ goal.completed_at }}">Completed</span>
        {% elif goal.status == "incomplete" %}
          <span class="status-label label label-warning" title="{{ goal.created_at }}">Incomplete</span>
        {% elif goal.status == "not_started" %}
          <span class="status-label label label-important" title="{{ goal.created_at }}">Not Started</span>
        {% endif %}
      </p>
      <p><strong>Created by:</strong> <a href="/user/{{ goal.user.id }}">{{ goal.user.display_name }}</a></p>
      <p><strong>Description:</strong> {{ goal.description }}</p>
      {% if goal.original != None %}
        <p><strong>Original goal: </strong><a href="/goal/{{ goal.original.id }}">{{ goal.original.user.display_name }}/{{ goal.original.title }}</a></p>
      {% endif %}
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2 well well-small">
      <h3>Goal Options</h3>
      {% if goal.user.id == current_user.get_id() %}
        <p>This goal has been viewed {{ goal.views }} times.</p>
        <ul class="nav nav-tabs nav-stacked">
        {% if goal.status == "incomplete" %}
          <li><a href="/goal/{{ goal.id }}/change_status?status=completed">Mark as Completed</a></li>
        {% elif goal.status == "completed" %}
          <li>Goal completed at {{ goal.completed_at }}.</li>
          <li><a href="/goal/{{ goal.id }}/change_status?status=incomplete">Mark as Incomplete</a></li>
        {% elif goal.status == "not_started" %}
          <li><a href="/goal/{{ goal.id }}/change_status?status=incomplete"><i class="icon-play pull-right"></i>Begin Goal</a></li>
        {% endif %}
        <li>
          <a href="/goal/{{ goal.id }}/milestone/new"><i class="icon-plus pull-right"></i>New Milestone</a>
        </li>
        <li><a href="/goal/{{ goal.id }}/edit"><i class="icon-edit pull-right"></i>Edit Goal</a></li>
      {% else %}
        <ul class="nav nav-tabs nav-stacked">
      {% endif %}
        <li><a href="/goal/{{ goal.id }}/copy"><i class="icon-copy pull-right"></i>Copy Goal</a></li>
      </ul>
    </div>
    <div class="span10 milestones">
      {% for milestone in milestones %}
        <div class="well">
            <p><h4>Milestone {{ loop.index }}</h4></p>
          <p><strong>description: </strong>{{ milestone.message }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

