{% extends "base.html" %}

{% block content %}
  <h1>New Goal</h1>
  {% if new_status == "form" %}
    {% from "_formhelpers.html" import render_field %}
    <form action="/goal/new" method="POST">
      <dl>
        {{ render_field(form.title) }}
        {{ render_field(form.description) }}
      </dl>
      <input type="submit" value="Create Goal" />
    </form>
  {% elif new_status == "fail" %}
    <p>There was an error adding your goal.</p>
  {% elif new_status == "success" %}
    <p>Your goal has been added successfully!</p>
  {% endif %}
{% endblock %}
